@model podejsciedwa.Models.DbModels.Biblioteka

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie biblioteki</h2>

<h3>Czy jesteś pewien, że chcesz usunąć bibliotekę??</h3>
<div>
    <h4>Biblioteka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń bibliotekę" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy bibliotek", "Index")
        </div>
    }
</div>
