@{
    ViewBag.Title = "O aplikacji";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <div>
        <p>Witaj w naszej rewolucyjnej aplikacji filmowej, która przeniesie Twoją pasję do kolekcjonowania filmów na zupełnie nowy poziom! Poznaj naszą aplikację, która została stworzona z myślą o prawdziwych kinomanach i entuzjastach kina.</p>
    </div>
    <div>
        <p>Zapomnij o problemach z utratą swojej kolekcji filmowej czy zapomnianymi tytułami. Nasza aplikacja będzie Twoim niezawodnym asystentem, który pomoże Ci zorganizować i cieszyć się Twoją kolekcją filmową w pełni;)</p>
    </div>
    <div><a href="@Url.Content("https://drive.google.com/file/d/1508mNl4_flSPMmkmaNdFrQ3uw9QE_nQ0/view?usp=sharing")" target="_blank">Więcej informacji o aplikacji</a></div>
</main>
