@{
    ViewBag.Title = "Home Page";
}

<main>
    <section>
        <div id="landpage">
            <h1>Stwórz swoją biblioteczkę filmową</h1>
            <p>Dzięki tej aplikacji jest to możliwe. Dodawaj ulubionych aktorów, najlepsze filmy i rób z nich kolekcje!!!</p>
            <img class="img-normal" id="filming"
                 src="https://film.org.pl/wp-content/uploads/2022/01/filmy-hollywood.jpg"
                 alt="filmy" />
        </div>
        <style>
            #landpage {
                font-family: "Roboto Mono", monospace;
                font-size: x-large;
                font-weight: bold;
                color: black;
                padding: 0;
                margin: 0;
                background-size: cover;
                background-position: center;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                height: 100%;
                width: 100%;
                text-align: center;

            }
        </style>
    </section>


</main>